target/
.idea

**/.DS_Store
**/.classpath
**/.factorypath
**/.project
**/.vscode/
**/.settings/

package-lock.json
node_modules/
walkthroughs/week-1-setup
walkthroughs/week-2-web-development
walkthroughs/week-3-server
walkthroughs/week-4-libraries
